@import "tailwindcss";

:root {
  --background: #fae3cd;
  --foreground: #111;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #fae3cd;
    --surface: #292929;
    --surface-raised: #3f3f3f;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-raised: var(--surface-raised);
  --font-heading: var(--font-montserrat);
  --font-body: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-montserrat);
}

@layer components {
  .hyperlink .hyperlink-text {
    position: relative;
  }

  .hyperlink .hyperlink-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.35em;
    height: 0.145rem;
    width: 0;
    background-color: var(--color-foreground);
    transition-property: width;
    transition-duration: 300ms;
    transition-timing-function: ease-out;
  }

  .hyperlink:hover .hyperlink-text::after,
  .hyperlink:focus-visible .hyperlink-text::after {
    width: 100%;
    transition-duration: 150ms;
  }

  .hyperlink:focus-visible {
    outline: none;
  }
}